<h2 class="tagline">
  Total amount invested
  <span class="count primary">
    <%= number_with_delimiter(@entry.gvt_invested) %> GVT
  </span>
  <p class="quotes">
    <%= image_tag 'btc.png', alt: 'btc-logo', class: 'quote-image' %>
    <%= number_with_precision(@entry.btc_invested, precision: 1,
                              delimiter: ',') %> BTC
    <span class="separator">|</span>
    <%= image_tag 'usd.png', alt: 'usd-logo', class: 'quote-image' %>
    <%= number_with_delimiter(@entry.usd_invested) %> USD
  </p>
</h2>
